/*
CSS padrao

Faz a pagina rolar mais suave*/
html{
    scroll-behavior: smooth;
}

body {
    font: 100% Lucida Sans, Verdana;
    margin: 20px;
    line-height: 26px;
}

.container {
    xmin-width: 900px;
}

.wrapper {
    position: relative;
    overflow: auto;
}

#top, #sidebar, #bottom, .menuitem {
    border-radius: 4px;
    margin: 4px;
}

#top {
    background-color: #04AA6D;
    color: #ffffff;
    padding: 15px;
}

#menubar {
    width: 200px;
    float: left;
}

#main {
    padding: 10px;
    margin: 0 210px;
}

#sidebar {
    background-color: #74aa87dc;
    color: #ffffff;
    padding: 10px;
    width: 180px;
    bottom: 0;
    top: 0;
    right: 0;
    position: absolute;
}

#bottom {
    /*Rodape*/
    border: 1px solid #d4d4d4;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    font-size: 70%;
    line-height: 14px;
}

#top h1, #top p, #menulist {
    margin: 0;
    padding: 0;
}

.menuitem {
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    list-style-type: none;
    padding: 2px;
    cursor: pointer;
}

.menuitem:hover {
    background-color: #ffffff;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: nome;
    color: #53755b;
}

p
{
    text-align: justify;
}
/*Efeito de sombra na imagem */
img{
    float: left;
    width: 300px;
    height: 300px;
    margin-right: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 800px) {
    #sidebar {
        width: auto;
        position: relative;
    } 
    #main {
        margin-right: 0;
    }    
       
}

@media (max-width: 600px) {
    #menubar {
        width: auto;
        float: none;
    }
    #main {
        margin: 0;
    }    
}
/*Estilo do formulario*/
form {
    color: #333;
    max-width: 600px;
    
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  input,
  textarea {
    font: 100% Lucida Sans, Verdana;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  button {
    background-color: #4CAF50;
    width: 104%;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background-color: #45a049;
  }